<%- include('header.ejs') %> 
<%- include('navbar.ejs') %>
  <div class ="container">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <form method="POST" action="/postItems">
      
      <div class="form-group">
        <label for="item">ITEM</label>
        <input type="text" class="form-control" id="name" placeholder="name" name="name" >
      </div>
       
      <button type="submit" class="btn btn-primary">Submit</button>
      <a href="/list" type="button" class="btn btn-primary"> List </a>
    </form>
    </div>
<%- include('footer.ejs') %> 
   