<%- include('header.ejs') %> 
<%- include('navbar.ejs') %>
<div class="container">
<h4><%= title %></h4>
<ul>
  <ul>
    <% lists.forEach(function(list){ %>
      <li><%= list.name %>
        <form method="POST" action="/delete/<%=list.id%>?_method=DELETE">
      <button class="btn" type="submit">x</button>
      </form></li>
    <% }); %>
  </ul>
</div>
<%- include('footer.ejs') %> 


